/*系统参数*/
/*bs样式*/
/*通用方法*/
/* Hide for mobile, show later */
.layoutBackground .fluid {
  display: flex;
}
.layoutBackground .fluid .sidebar {
  display: none;
  width: 200px;
}
@media screen and (min-width: 750px) {
  .layoutBackground .fluid .sidebar {
    width: 200px;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 0.03864734rem solid #ccc;
  }
}
.layoutBackground .fluid .sidebar .nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li .badge {
  background-color: #428bca;
  float: right;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li.active a {
  color: #fff;
  background-color: #428bca;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li.active a:hover,
.layoutBackground .fluid .sidebar .nav-sidebar > li.active a:focus {
  color: #fff;
  background-color: #428bca;
}
.layoutBackground .fluid .sidebar .nav-sidebar > li.active .badge {
  background-color: #fff;
  color: #428bca;
}
.layoutBackground .fluid .main {
  padding: 20px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin-left: 200px;
  position: relative;
  margin-top: 50px;
}
@media (min-width: 750px) {
  .layoutBackground .fluid .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.layoutBackground .navbar > .container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
}
.layoutBackground .navbar > .container .navbar-right {
  margin-right: 0;
}
.layoutBackground.layoutBackgroundM {
  padding-top: 50px;
}
.navtop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 34px;
  background-color: #edecea;
  font-size: 0.46376812rem;
  z-index: 9900;
}
.navtop:before,
.navtop:after {
  content: " ";
  display: table;
}
.navtop:after {
  clear: both;
}
.navtop:before,
.navtop:after {
  content: " ";
  display: table;
}
.navtop:after {
  clear: both;
}
.navtop a {
  text-decoration: none;
  color: inherit;
}
.navtop a:hover,
.navtop a:active,
.navtop a:focus {
  color: inherit;
}
.navtop a:hover {
  color: #FF5913;
}
.navtop .navtop-left a {
  padding: 0;
  padding-right: 34px;
  line-height: 34px;
}
.navtop .navtop-left a#loginLink {
  color: #FF5913;
}
.navtop .navtop-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navtop .navtop-right ul li {
  float: left;
  padding: 0 20px;
  line-height: 34px;
  cursor: pointer;
}
.navtop .navtop-right ul li:hover {
  color: #FF5913;
}
.navtop .navtop-right ul li:last-child {
  padding-right: 0;
}
.uploader .btnModal {
  margin-bottom: 5px;
}
.uploader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.uploader ul:before,
.uploader ul:after {
  content: " ";
  display: table;
}
.uploader ul:after {
  clear: both;
}
.uploader ul:before,
.uploader ul:after {
  content: " ";
  display: table;
}
.uploader ul:after {
  clear: both;
}
.uploader ul li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 70px;
  max-width: 120px;
  position: relative;
}
.uploader ul li img {
  max-height: 100%;
  max-width: 100%;
  border: 0.03864734rem solid #ccc;
}
.uploader ul li span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #d9534f;
  display: none;
  font-size: 12px;
  padding: 2px;
}
.uploader ul li:hover span {
  display: inline-block;
}
.uploader .uploader_modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10001;
  width: 500px;
  top: 150px;
}
.uploader .uploader_modal .uploader_modal_close {
  float: right;
}
.uploader .DragOver {
  height: 150px;
  text-align: center;
  border: dashed 1px #ddd;
  color: #ddd;
  padding-top: 40px;
  margin-bottom: 5px;
}
.uploader .filename {
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.uploader .preview {
  max-width: 45px;
  max-height: 45px;
}
.uploader .fileList {
  max-height: 310px;
  overflow-y: auto;
}
.uploader .fileList .table tr td {
  height: 62px;
}
.uploader .fileList .table tr td:nth-child(1) {
  width: 45px;
  vertical-align: middle;
}
.uploader .fileList .table tr td:nth-child(3) {
  width: 100px;
  vertical-align: middle;
}
.uploader .progress {
  margin-bottom: 0;
}
.table.table-edit tr input[type=text],
.table.table-edit tr input[type=number],
.table.table-edit tr input[type=email],
.table.table-edit tr input[type=date],
.table.table-edit tr input[type=datetime] {
  border: 1px solid transparent;
  background-color: transparent;
  width: 100%;
}
.table.table-edit tr:hover input[type=text],
.table.table-edit tr:hover input[type=number],
.table.table-edit tr:hover input[type=email],
.table.table-edit tr:hover input[type=date],
.table.table-edit tr:hover input[type=datetime] {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
}
.table tr input[type=text],
.table tr input[type=number],
.table tr input[type=email],
.table tr input[type=date],
.table tr input[type=datetime] {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
}
.table.table-add tbody tr:nth-child(1) input[type=text],
.table.table-add tbody tr:nth-child(1) input[type=number],
.table.table-add tbody tr:nth-child(1) input[type=email],
.table.table-add tbody tr:nth-child(1) input[type=date],
.table.table-add tbody tr:nth-child(1) input[type=datetime] {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
}
.table.table-add-last tbody tr:last-child input[type=text],
.table.table-add-last tbody tr:last-child input[type=number],
.table.table-add-last tbody tr:last-child input[type=email],
.table.table-add-last tbody tr:last-child input[type=date],
.table.table-add-last tbody tr:last-child input[type=datetime] {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
}
.table.table-autowidth {
  width: auto;
}
.table .table-img {
  float: left;
  height: 23px;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.table .table-img:hover,
.table .table-img:active,
.table .table-img:focus {
  color: inherit;
}
.table .table-img > img:nth-child(1) {
  height: 23px;
}
.table .table-img > img:nth-child(1):hover + img {
  display: block;
}
.table .table-img > img:nth-child(2) {
  position: absolute;
  top: 23px;
  left: 0;
  height: 120px;
  display: none;
  z-index: 100;
}
.container.body-content {
  margin-top: 50px;
}
.panel.panel-modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10001;
  width: 500px;
  top: 50px;
}
.panel.panel-modal:before,
.panel.panel-modal:after {
  content: " ";
  display: table;
}
.panel.panel-modal:after {
  clear: both;
}
.panel.panel-modal:before,
.panel.panel-modal:after {
  content: " ";
  display: table;
}
.panel.panel-modal:after {
  clear: both;
}
.panel.panel-modal .panel-heading span {
  float: right;
}
.panel.panel-modal .panel-body {
  position: relative;
}
.panel .panel-footer:before,
.panel .panel-footer:after {
  content: " ";
  display: table;
}
.panel .panel-footer:after {
  clear: both;
}
.panel .panel-footer:before,
.panel .panel-footer:after {
  content: " ";
  display: table;
}
.panel .panel-footer:after {
  clear: both;
}
.pagenav .total {
  vertical-align: top;
  display: inline-block;
  margin: 20px;
  padding: 6px 0;
}
.form-horizontal .checkbox-inline {
  margin-right: 10px;
  margin-left: 0;
}
.navbar form {
  margin-bottom: 0;
}
.imageResizeUpload .imageResizeUpload_result {
  cursor: pointer;
}
.imageResizeUpload .imageResizeUpload-display .imageResizeUpload_result {
  cursor: default;
}
.imageResizeUpload .imageResizeUpload_panel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  top: 50px;
  z-index: 10000;
  user-select: none;
}
.imageResizeUpload .preview {
  position: relative;
}
.imageResizeUpload .preview .preview_f {
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.imageResizeUpload .preview .preview_f > img {
  user-select: none;
  cursor: move;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.imageResizeUpload .preview .preview_b {
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.imageResizeUpload .preview .preview_b > img {
  opacity: 0.1;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.imageResizeUpload .imageResizeUpload_resize {
  position: relative;
  height: 20px;
  margin: 10px 0;
  user-select: none;
}
.imageResizeUpload .imageResizeUpload_resize:before,
.imageResizeUpload .imageResizeUpload_resize:after {
  content: " ";
  display: table;
}
.imageResizeUpload .imageResizeUpload_resize:after {
  clear: both;
}
.imageResizeUpload .imageResizeUpload_resize:before,
.imageResizeUpload .imageResizeUpload_resize:after {
  content: " ";
  display: table;
}
.imageResizeUpload .imageResizeUpload_resize:after {
  clear: both;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 200px;
  height: 20px;
  user-select: none;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:before,
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:after {
  content: " ";
  display: table;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:after {
  clear: both;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:before,
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:after {
  content: " ";
  display: table;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:after {
  clear: both;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:before {
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  color: #ddd;
  content: "\e016";
  position: absolute;
  top: -5px;
  left: -25px;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bar:after {
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  color: #ddd;
  content: "\e015";
  position: absolute;
  top: -5px;
  right: -20px;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: linear-gradient(#fff, #e0e0e0);
  position: absolute;
  top: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  user-select: none;
  cursor: ew-resize;
}
.imageResizeUpload .imageResizeUpload_resize .imageResizeUpload_resize_bg {
  height: 5px;
  background-color: #e1e8ed;
  border-radius: 2.5px;
  margin: 7.5px 10px 0 10px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
}
.imageResizeUpload .panel-footer {
  text-align: right;
}
.homeIndex .navbar {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}
.homeIndex .navbar-header .navbar-brand {
  height: auto;
  padding: 5px;
  color: rgba(0, 0, 0, 0.87);
}
.homeIndex .navbar-header .navbar-brand img {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 7px;
}
.homeIndex .navbar-right li {
  height: 70px;
  padding: 15px 15px;
}
.homeIndex .navbar-right li a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  padding: 0 15px;
  line-height: 40px;
  transition: 0.3s all;
  border: 1px solid #000;
  border-radius: 5px;
}
.homeIndex .navbar-right li a:hover {
  color: #f3ee79;
  background-color: #000;
}
.homeIndex .homeIndex-swiper {
  position: relative;
}
.homeIndex .homeIndex-swiper:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(34, 35, 36, 0.75);
  content: "";
}
.homeIndex .homeIndex-swiper .vidbg-container {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("Images/home/PC-Typing-fallback.jpg");
}
.homeIndex .homeIndex-swiper .container {
  z-index: 1;
}
.homeIndex .homeIndex-swiper .homeIndex-swiper-info {
  color: #fff;
  text-align: center;
  padding: 180px 0;
}
.homeIndex .homeIndex-swiper .homeIndex-swiper-info h1 {
  letter-spacing: 5px;
}
.homeIndex .homeIndex-swiper .homeIndex-swiper-info a {
  background-color: #f3ee79;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  border-radius: 7px;
  padding: 8px 15px;
  margin: 30px 10px;
  font-size: 18px;
}
.homeIndex .homeIndex-swiper .homeIndex-swiper-info a:hover {
  text-decoration: none;
  background-color: #ddd757;
}
@media (max-width: 750px) {
  .homeIndex .homeIndex-swiper .homeIndex-swiper-info {
    padding: 90px 0;
  }
}
.homeIndex .homeIndex-feature .row {
  padding: 1.15942029rem 0;
}
.homeIndex .homeIndex-feature .feature-heading {
  margin-top: 0.19323671rem;
  margin-bottom: 0.38647343rem;
}
.homeIndex .homeIndex-feature .feature-text {
  font-size: 18px;
  color: #6d767d;
  margin-bottom: 0.77294686rem;
}
.homeIndex .homeIndex-feature .img-fluid {
  max-width: 100%;
  height: auto;
  border: 1px dashed rgba(0, 0, 0, 0.1);
}
.homeIndex .homeIndex-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.homeIndex .homeIndex-footer a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
.homeIndex .homeIndex-footer a:hover,
.homeIndex .homeIndex-footer a:active,
.homeIndex .homeIndex-footer a:focus {
  color: inherit;
}
.homeIndex .homeIndex-footer img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.homeIndex .homeIndex-footer .homeIndex-footer-right {
  text-align: right;
  line-height: 60px;
}
body {
  color: rgba(0, 0, 0, 0.87);
  min-height: 100vh;
}
html {
  font-family: "微软雅黑" !important;
  font-size: 25px;
  min-height: 100%;
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 64px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "微软雅黑" !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.mask.style02 {
  z-index: 200;
}
.alertList {
  top: 1px;
  z-index: 10000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 500px;
}
.alertList .alert {
  margin-bottom: -1px;
  border-radius: 0;
}
.alertList button {
  margin-left: 10px;
}
.alertList.fixed-ckeditor-max {
  position: fixed;
  width: 500px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fs12 {
  font-size: 0.46376812rem;
}
.fs14 {
  font-size: 0.5410628rem;
}
.fs16 {
  font-size: 0.61835749rem;
}
.fs18 {
  font-size: 0.69565217rem;
}
.fs20 {
  font-size: 0.77294686rem;
}
.fs24 {
  font-size: 0.92753623rem;
}
.fs36 {
  font-size: 1.39130435rem;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cke_source {
  max-width: none;
}
.color-main {
  color: #FF5913;
}
.color-white {
  color: #fff;
}
.color-grey {
  color: rgba(0, 0, 0, 0.54);
}
.bg-color-grey {
  background-color: #f2f2f2;
}
.overFlowText {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textCenter {
  text-align: center;
}
.paddingLr5 {
  padding-left: 0.19323671rem;
  padding-right: 0.19323671rem;
}
.paddingLr10 {
  padding-left: 0.38647343rem;
  padding-right: 0.38647343rem;
}
.paddingLr24 {
  padding-left: 0.92753623rem;
  padding-right: 0.92753623rem;
}
.paddingLr16 {
  padding-left: 0.61835749rem;
  padding-right: 0.61835749rem;
}
.paddingTb16 {
  padding-top: 0.61835749rem;
  padding-bottom: 0.61835749rem;
}
.paddingT50 {
  padding-top: 1.93236715rem;
}
.paddingT88 {
  padding-top: 3.40096618rem;
}
.paddingT84 {
  padding-top: 3.24637681rem;
}
.paddingT124 {
  padding-top: 4.79227053rem;
}
.paddingT128 {
  padding-top: 4.9468599rem;
}
.paddingB80 {
  padding-bottom: 3.8647343rem;
}
.padding8 {
  padding: 0.30917874rem;
}
.marginT35 {
  margin-top: 1.352657rem;
}
.marginT20 {
  margin-top: 0.77294686rem;
}
.marginT15 {
  margin-top: 0.57971014rem;
}
.marginT8 {
  margin-top: 0.30917874rem;
}
.marginT10 {
  margin-top: 0.38647343rem;
}
.marginT5 {
  margin-top: 0.19323671rem;
}
.marginR5 {
  margin-right: 0.19323671rem;
}
.marginR8 {
  margin-right: 0.30917874rem;
}
.marginR20 {
  margin-right: 0.77294686rem;
}
.marginR30 {
  margin-right: 0.96618357rem;
}
.marginB5 {
  margin-bottom: 0.19323671rem;
}
.marginL8 {
  margin-left: 0.30917874rem;
}
.fontWeight {
  font-weight: bold;
}
.minHight100vh {
  min-height: 100vh;
}
.navigationSwiper {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  height: 1.70048309rem;
  line-height: 1.70048309rem;
  font-size: 0.5410628rem;
  border-bottom: 0.03864734rem solid #ccc;
}
.navigationSwiper .swiper-container {
  width: 100%;
  height: 1.70048309rem;
  margin: 0 auto;
  padding-left: 0.61835749rem;
  padding-right: 1.15942029rem;
}
.navigationSwiper .swiper-container .swiper-slide {
  width: auto;
  text-align: center;
  font-size: 0.5410628rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0.92753623rem;
  color: rgba(0, 0, 0, 0.87);
}
.navigationSwiper .swiper-container .swiper-slide.active {
  color: #FF5913;
}
.navigationSwiper .swiper-container .swiper-slide.active i {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.07729469rem;
  background-color: #FF5913;
}
.navigationSwiper .pullDown {
  width: 1.70048309rem;
  height: 1.70048309rem;
  background: url("images/view/menu_more@2x.png") no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.navigationSwiper.top44 {
  top: 1.70048309rem;
}
.navTabBottom {
  position: fixed;
  width: 100%;
  height: 1.93236715rem;
  background-color: #fff;
  border-top: 0.03864734rem solid #f2f2f2;
  bottom: 0;
  z-index: 100;
}
.navTabBottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navTabBottom ul li {
  font-size: 0.46376812rem;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 1.93236715rem;
}
.navTabBottom ul li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 1.93236715rem;
  display: block;
  background: none;
}
.navTabBottom ul li a:hover,
.navTabBottom ul li a:active,
.navTabBottom ul li a:focus {
  color: inherit;
}
.navTabBottom ul li.taobao a {
  background: url("images/view/tab_00_nor@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.taobao.active a {
  background: url("images/view/tab_00_pre@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.mogujie a {
  background: url("images/view/tab_01_nor@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.mogujie.active a {
  background: url("images/view/tab_01_pre@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.jd a {
  background: url("images/view/tab_02_nor@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.jd.active a {
  background: url("images/view/tab_02_pre@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.find a {
  background: url("images/view/tab_03_nor@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.find.active a {
  background: url("images/view/tab_03_pre@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.user a {
  background: url("images/view/tab_04_nor@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.navTabBottom ul li.user.active a {
  background: url("images/view/tab_04_pre@3x.png") no-repeat center;
  background-size: 1.54589372rem 1.70048309rem;
}
.promptBox {
  border-radius: 0.193rem;
  color: #fff;
  font-size: 0.61835749rem;
  text-align: center;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.6);
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 2.714rem;
}
.promptBox .promptText {
  padding: 0.387rem 0.775rem;
}
.loadModule {
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0.61835749rem !important;
  font-size: 0.46376812rem;
  color: rgba(0, 0, 0, 0.38);
  text-align: center;
  box-shadow: none !important;
  display: block !important;
}
.loadModule.loadModule-dataIng:before,
.loadModule.loadModule-dataIng:after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: #e6e6e6;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.57971014rem;
}
.loadModule.loadModule-noData {
  font-size: 0.5410628rem;
  color: rgba(0, 0, 0, 0.38);
}
.loadModule.loadModule-noData img {
  width: 8.03864734rem;
  height: 7.30434783rem;
  margin-top: 4.63768116rem;
}
.loadModule.loadModule-noDataSearch img {
  width: 3.71014493rem;
  height: 5.71980676rem;
  margin-top: 4.63768116rem;
}
.nodata {
  text-align: center;
}
.nodata.nodata-1 {
  text-align: center;
}
.nodata.nodata-1 img {
  margin-top: 3.8647343rem;
}
.nodata img {
  width: 3.71014493rem;
  height: auto;
  margin-top: 4.63768116rem;
}
.nodata.nodata-style02 img {
  width: 8.03864734rem;
  height: 7.30434783rem;
  margin-top: 7.7294686rem;
}
.nodata.nodata-style03 img {
  width: 8.03864734rem;
  height: 7.30434783rem;
  margin-top: 5.02415459rem;
}
.setScrollTop {
  position: fixed;
  bottom: 2.62801932rem;
  right: 0.30917874rem;
  width: 1.93236715rem;
  height: 1.93236715rem;
  z-index: 100;
}
.setScrollTop img {
  width: 100%;
  height: auto;
}
.selectRoleList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.selectRoleList > li {
  clear: both;
}
.selectRoleList > li > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 20px;
}
.selectRoleList > li > ul:before,
.selectRoleList > li > ul:after {
  content: " ";
  display: table;
}
.selectRoleList > li > ul:after {
  clear: both;
}
.selectRoleList > li > ul:before,
.selectRoleList > li > ul:after {
  content: " ";
  display: table;
}
.selectRoleList > li > ul:after {
  clear: both;
}
.selectRoleList > li > ul > li {
  float: left;
  margin-right: 10px;
}
.selectRoleList label span {
  position: relative;
  top: -2px;
}