@{
    ViewBag.Title = "主页";
}

<div class="homeIndex minHight100vh" style="padding-top:70px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img alt="Brand" src="~/Content/Images/home/cjcat_logo.png?w=200&h=200">财吉猫</a>
            </div>
            @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>*@
        </div>
    </nav>

    <div class="homeIndex-swiper">
        <div class="vidbg-container"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="homeIndex-swiper-info">
                        <h1 class="hero-title">
                            简单易用的淘宝客工具。
                        </h1>
                        <div>
                            <a class="btn hero-btn hidden-md-down" href="#">下载</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container homeIndex-feature">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="feature-heading">
                    一键采集
                </h1>
                <p class="feature-text">
                    只要一键就可以每日自动采集过万件商品
                </p>
            </div>
            <div class="col-lg-5">
                <img class="feature-image img-fluid mx-auto feature-image-speed" src="~/Content/Images/home/feature-speed.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <img class="feature-image img-fluid mx-auto feature-image-speed" src="~/Content/Images/home/feature-secure.png">
            </div>
            <div class="col-lg-7">
                <h1 class="feature-heading">
                    智能筛选
                </h1>
                <p class="feature-text">
                    自动筛出佣金和销量高的商品
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <h1 class="feature-heading">
                    一键分享、自定义文案
                </h1>
                <p class="feature-text">
                    个性化分享文章、一键推广到各大平台
                </p>
            </div>
            <div class="col-lg-5">
                <img class="feature-image img-fluid mx-auto feature-image-speed" src="~/Content/Images/home/feature-reliable.png">
            </div>
        </div>
    </div>

    <div class="homeIndex-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <a href="#">
                        <img alt="Brand" src="~/Content/Images/home/cjcat_logo.png?w=200&h=200">财吉猫
                    </a>
                </div>
                <div class="col-xs-7">
                    <div class="homeIndex-footer-right">©2017 财吉猫 @*粤ICP备6666号-66*@</div>
                </div>
            </div>
        </div>
    </div>
    
</div>