@{
    ViewBag.Title = "主页";
}

<div class="homeIndex minHight100vh" style="padding-top:70px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img alt="Brand" src="~/Content/Images/home/cjcat_logo.png?w=200&h=200">财吉猫</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="homeIndex-swiper">
        <div class="vidbg-container"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="homeIndex-swiper-info">
                        <h1 class="hero-title">
                            快速、可靠、安全的依赖管理工具。
                        </h1>
                        <div>
                            <a class="btn hero-btn hidden-md-down" href="/docs/getting-started">开始使用</a>
                            <a class="btn hero-btn hidden-md-down" href="/docs/install">安装 财吉猫</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container homeIndex-feature">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="feature-heading">
                    速度超快
                </h1>
                <p class="feature-text">
                    Yarn 缓存了每个下载过的包，所以再次使用时无需重复下载。 同时利用并行下载以最大化资源利用率，因此安装速度更快。
                </p>
            </div>
            <div class="col-lg-5">
                <img class="feature-image img-fluid mx-auto feature-image-speed" src="~/Content/Images/home/feature-speed.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <img class="feature-image img-fluid mx-auto feature-image-speed" src="~/Content/Images/home/feature-secure.png">
            </div>
            <div class="col-lg-7">
                <h1 class="feature-heading">
                    速度超快
                </h1>
                <p class="feature-text">
                    Yarn 缓存了每个下载过的包，所以再次使用时无需重复下载。 同时利用并行下载以最大化资源利用率，因此安装速度更快。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <h1 class="feature-heading">
                    速度超快
                </h1>
                <p class="feature-text">
                    Yarn 缓存了每个下载过的包，所以再次使用时无需重复下载。 同时利用并行下载以最大化资源利用率，因此安装速度更快。
                </p>
            </div>
            <div class="col-lg-5">
                <img class="feature-image img-fluid mx-auto feature-image-speed" src="~/Content/Images/home/feature-reliable.png">
            </div>
        </div>
    </div>

    <div class="homeIndex-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <a href="#">
                        <img alt="Brand" src="~/Content/Images/home/cjcat_logo.png?w=200&h=200">财吉猫
                    </a>
                </div>
                <div class="col-xs-7">
                    <div class="homeIndex-footer-right">©2017 财吉猫 粤ICP备6666号-66</div>
                </div>
            </div>
        </div>
    </div>
    
</div>