
@{
    ViewBag.Title = "帮助";
}
<div class="help">
    <div class="help-content">
        <h4>财吉猫使用步骤</h4>
        <ol>
            <li>
                <p>准备好下面的平台的帐号</p>
                <p>
                    淘宝联盟<a href="http://pub.alimama.com/">点击开通</a><br />
                    蘑菇街联盟<a href="http://union.mogujie.com/">点击开通</a><br />
                    京东联盟<a href="https://media.jd.com/">点击开通</a><br />
                </p>
            </li>
            <li>
                <p>注册淘宝联盟后配置推广</p>
                <p>推广管理-><a href="http://pub.alimama.com/myunion.htm?spm=a219t.7900221/1.1998910419.dbb742793.2a2163f5A0rZky#!/manage/site/site?spm=a219t.7900221%2F1.1998910419.dbb742793.2a2163f5A0rZky&tab=4&toPage=1">导购管理</a> 新建一个导购管理，填写信息任意</p>
            </li>
            <li>
                <p>财吉猫使用时候必须安装以下库</p>
                <a href="https://www.microsoft.com/zh-CN/download/details.aspx?id=48130">.NET Framework 4.6</a>和
                <a href="https://www.microsoft.com/zh-CN/download/details.aspx?id=48145">VC++运行库</a>
            </li>
            <li>
                财吉猫在线安装包<a href="http://www.immlm.cn/BuyClient/Download/setup.exe">点击下载</a>
            </li>
            <li>
                安装成功可以看到桌面有财吉猫的程序的快捷方式<br />
                双击运行<br />
                登录帐号密码使用代理的帐号和密码<br />
                进去后，登录对应的平台后程序就会自动采集
            </li>
        </ol>
        <h4>常见问题</h4>
        <ul class="help-qa">
            <li>
                <p>采集需要24小时挂机么？</p>
                <p>不必要，每天抓取一次就可以</p>
            </li>
            <li>
                <p>券什么时候更新</p>
                <p>淘宝：每天早上10点更新一次；蘑菇街：实时更新</p>
            </li>
            <li>
                <p>怎样可以知道采集完成了</p>
                <p>
                    淘宝出现没发现新商品后<br />
                    <img src="~/Content/Images/Help/t3.jpg" /><br />
                    蘑菇街<br />
                    出现处理完成即可
                </p>
            </li>
            <li>
                <p>采集的券为什么会不见了</p>
                <p>系统每天凌晨会检测一次券是否还有效，无效券会被系统做过期处理</p>
            </li>
            <li>
                <p>采集的券有效期多长</p>
                <p>淘宝券一般3天就基本失效了（推广链接失效）</p>
            </li>
            <li>
                <p>第一次淘宝登陆成功后不会自动采集</p>
                <p>
                    网络不稳定导致，等待超过1分钟，还停在登录成功，可以切换回财吉猫的淘宝尝试手动下载操作如下<br />
                    <img src="~/Content/Images/Help/t1.png" />
                </p>
            </li>
            <li>
                <p>长时间挂机后发现只有蘑菇街在采集，淘宝没有任何记录</p>
                <p>
                    因为淘宝的登录授权过期了<br />
                    点击重启，重新登录即可<br />
                    <img src="~/Content/Images/Help/t2.png" />
                </p>
            </li>
        </ul>
    </div>
</div>
